<!--http://sportscityantalya.com/images/blog.png
http://walldiskpaper.com/wp-content/uploads/2014/11/White-Wallpaper-HD-Background-Free-->
<div id = "index">
<header>
    <a href = "#"><img src="http://sportscityantalya.com/images/blog.png" width = "30%" height = "30%"/></a>
</header>

<p id="notice"><%= notice %></p>



<table cellpadding ="10" bgcolor = "#FFFFCC">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>User</th>
      <th colspan="5"></th>
    </tr>
    <tr></tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= post.user.email %></td>
        <td><%= link_to 'Show', post %></td>
        <% if post.user == current_user %>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br /><br />

<%= link_to 'New Post', new_post_path %>
</div>