
<div id="show">
<p id="notice"><%= notice %></p>
<br />

<div id= "post_show">
  <strong style="color:blue">Title:</strong>
  <%= @post.title %>
  <br /><br />
  <strong style="color:blue">Body:</strong>
  <%= @post.body %>
</div>

<br />
<div id = "comment_show">
<h2 style="color:green"><u>Comments</u></h2>
<div id="comments">
	<%= render :partial => @post.comments.reverse %>
	
</div> 
</div>

<%= form_for([@post, Comment.new], remote: true) do |f| %>
	<p>
		<strong class = "new"><%= f.label :body, "New Comment" %></strong><br />
		<%= f.text_area :body %>
	</p>
	<p>
		<%= f.submit "Add Comment" %>
	</p>
<% end %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
</div>

<!--style="color:#CC0033"-->