body {
  background-image: url("http://1.bp.blogspot.com/_LkTxPZXvwBc/S-srdVSOVrI/AAAAAAAAC4U/3BslmcyffOw/s1600/watercanblog.jpg");
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

table{
  box-shadow:0px 0px 50px 30px #D6D6C2;
}

table, td, tr, th{
  border: 1px solid black;
  border-collapse: collapse;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.new{
  color:#CC0033;
  font-weight:bold;
}

#index{
  margin: auto;
  width: 30%;
}

#show, #edit, #new{
  margin: auto;
  width:25%;
}

#edit{
  margin: auto;
  width:25%;
}  

#post_show{
  font-size: 20px;
}

#body, #time,  #comment_show {
  text-indent: 50px;
}

h1 {
  font-size: 30px; 
}

th {
  color: #B85C00;
  font-size: 20px;
}

img {
  float: center;
  margin: 20px 20px 20px 120px; 
}

#btnExample {
  color: #900;
  background: #FF0;
  font-weight: bold;
  border: 1px solid #900;
}
 
#btnExample:hover {
  color: #FFF;
  background: #900;
}

a {
  color: #1919A3;
  font-size: 13px;
  font-weight: bold;

  &:visited {
    color: #1919A3;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}
